@model Etaa.Models.Projects

@{
    ViewData["Title"] = "حذف المشروع";
}

<h1>الحذف</h1>

<h3>هل تريد حذف المشروع ؟</h3>
<div>
    <h4>المشروع</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectActivity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectActivity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectPurpose)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectPurpose)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Capital)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Capital)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MonthlyInstallmentAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MonthlyInstallmentAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfInstallments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfInstallments)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WaiverPeriod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WaiverPeriod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsApprovedByManagement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsApprovedByManagement)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsCanceled)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsCanceled)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManagementUserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManagementUserId)
        </dd>*@
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ProjectId" />
        <input type="submit" value="الحذف" class="btn btn-danger" /> |
        <a asp-action="Index">العودة إلى القائمة الرئيسية</a>
    </form>
</div>
