@model Etaa.Models.Projects

<script>
    $(function() {
        var message = '@ViewBag.FinancialStatemntId';
        if (message  != '')
            swal({ title: "Done", text: message , icon: "error" });

    });
</script>

@{
    ViewData["Title"] = "تعديل المشروع";
    var FamilyNameAr = ViewData["FamilyNameAr"];
}

<h1>تعديل المشروع</h1>

@*<h4>المشروع</h4>*@
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" id="hdnProjectId" asp-for="ProjectId" />
            <div class="form-group mb-3">
                @*<label asp-for="FamilyId" class="control-label"></label>
                <select asp-for="FamilyId" class ="form-control" asp-items="ViewBag.FamilyId"></select>*@
                <label class="control-label">إختيار الأسرة</label>
                <input id="txtFamily" asp-for="@FamilyNameAr" class="form-control" autofocus />
                <input id="hdnFamilyId" asp-for="FamilyId" type="hidden" name="FamilyId" />
            </div>
            <div class="form-group mb-3">
                <label asp-for="SignatureofApplicantPath" class="control-label"></label>
                @*<input asp-for="SignatureofApplicantPath" class="form-control" />
                <span asp-validation-for="SignatureofApplicantPath" class="text-danger"></span>*@
                <a asp-action="Download" asp-route-ProjectId="@Model.ProjectId" class="btn btn-outline-primary">Download</a>
            </div>
            <div class="form-group mb-3">
                <label>المرفقات:</label>
                <form id="form2" method="post" enctype="multipart/form-data" data-parsley-validate class="form-horizontal form-label-left">
                    <div class="form-group mb-3">
                        <div class="col-md-12 border border-info" id="dropzone">
                            <div class="dropzone" style="border:none" action="@Url.Action("Upload", "Project")" id="uploader">
                                <div class="dz-message needsclick">
                                    <i class="bi bi-file-earmark-arrow-up text-primary fs-3x"></i>
                                    <div class="ms-4">
                                        <h3 class="fs-5 fw-bolder text-gray-900 mb-1">Drop files here or click to upload</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="form-group mb-3">
                <label asp-for="ProjectActivity" class="control-label"></label>
                <input asp-for="ProjectActivity" class="form-control" />
                <span asp-validation-for="ProjectActivity" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="ProjectPurpose" class="control-label"></label>
                <input asp-for="ProjectPurpose" class="form-control" />
                <span asp-validation-for="ProjectPurpose" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Capital" class="control-label"></label>
                <input asp-for="Capital" class="form-control" type="number" min="1" />
                <span asp-validation-for="Capital" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="MonthlyInstallmentAmount" class="control-label"></label>
                <input asp-for="MonthlyInstallmentAmount" class="form-control" type="number" min="1" />
                <span asp-validation-for="MonthlyInstallmentAmount" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="NumberOfInstallments" class="control-label"></label>
                <input asp-for="NumberOfInstallments" class="form-control" type="number" min="1" max="15" />
                <span asp-validation-for="NumberOfInstallments" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="WaiverPeriod" class="control-label"></label>
                <input asp-for="WaiverPeriod" class="form-control" />
                <span asp-validation-for="WaiverPeriod" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="FirstInstallmentDueDate" class="control-label"></label>
                <input asp-for="FirstInstallmentDueDate" class="form-control" />
                <span asp-validation-for="FirstInstallmentDueDate" class="text-danger"></span>
            </div>
            <div class="form-group dropdown">
                <label class="control-label">رقم التمويل</label>
                <select id="NoOfFunds" class="form-select">
                    <option value="0">--Select--</option>
                </select>
                @*<label asp-for="NumberOfFundsId" class="control-label"></label>
                <select asp-for="NumberOfFundsId" class ="form-control" asp-items="ViewBag.NumberOfFundsId"></select>*@
            </div>
            <div class="form-group dropdown">
                <label for="ProjectTypes" class="form-label">نوع المشروع</label>
                <select id="ProjectTypes" class="form-select">
                    <option value="0">--Select--</option>
                </select>
                @*<label asp-for="ProjectTypeId" class="control-label"></label>
                <select asp-for="ProjectTypeId" class ="form-control" asp-items="ViewBag.ProjectTypeId"></select>*@
            </div>
            <div id="ProjectAssets" class="form-group row col-12">

            </div>
            <div id="ProjectSelectionReasons">
                <label class="control-label">أسباب إختيار المشروع</label>
                @*Was replaced with the post function of the GetProjectSelectionReasons*@
                @*<label asp-for="ProjectSelectionReasonsId" class="control-label"></label>
                <select multiple="multiple" asp-for="ProjectSelectionReasonsId" class ="form-control" asp-items="ViewBag.ProjectSelectionReasonsId"></select>*@
            </div>
            <div id="ProjectSocialBenefits">
                <label class="control-label">الفوائد الإجتماعية للمشروع</label>
                @*<label asp-for="ProjectSocialBenefitsId" class="control-label"></label>
                <select multiple="multiple" asp-for="ProjectSocialBenefitsId" class ="form-control" asp-items="ViewBag.ProjectSocialBenefitsId"></select>*@
            </div>
            <div class="form-group mb-3">
                @*<input type="submit" value="Save" class="btn btn-primary" onclick="saveData()" />*@
                <a class="btn btn-primary" onclick="saveData()">الحفظ</a>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">العودة إلى القائمة الرئيسية</a>
</div>

@section Scripts {
    @if (TempData["FinancialStatemntId"] != null)
                {
                    <script>
                        $(function () {
                                    swal({
                                      title: "لم يتم التعديل !",
                                      text: "هنالك إقرار  مالي تابع لهذا المشروع !",
                                      icon: "info"
                                    });
                                });
                            </script>
                }
    @if (TempData["ClearanceId"] != null)
    {
        <script>
            $(function () {
                        swal({
                          title: "لم يتم التعديل !",
                          text: "هنالك خلو طرف تابع لهذا المشروع !",
                          icon: "info"
                        });
                    });
                </script>
    }
    @if (TempData["PaymentVoucherId"] != null)
    {
        <script>
            $(function () {
                        swal({
                          title: "لم يتم التعديل !",
                          text: "هنالك مستندات دفع لهذا المشروع !",
                          icon: "info"
                        });
                    });
                </script>
    }

    @if (TempData["Project"] != null)
    {
        <script>
            $(function () {
                        swal({
                          title: "الرجاء التحقق من المدخلات !",
                          text: "الرجاء التحقق من المدخلات !",
                          icon: "error"
                        });
                    });
                </script>
    }

    <script>
    function saveData(){
            // Firstly the project data, Then the project assets, then the project selection reasons and finally the social benefits
            var projectItem = [];
            let ProjectId = $("#hdnProjectId").val();
            let ProjectActivity = $("#ProjectActivity").val();
            let ProjectPurpose = $("#ProjectPurpose").val();
            let Capital = $("#Capital").val();
            let MonthlyInstallmentAmount = $("#MonthlyInstallmentAmount").val();
            let NumberOfInstallments = $("#NumberOfInstallments").val();
            let Date = $("#Date").val();
            let WaiverPeriod = $("#WaiverPeriod").val();
            let FirstInstallmentDueDate = $("#FirstInstallmentDueDate").val();
            let FamilyId = $("#hdnFamilyId").val();
            let NumberOfFundsId = $("#NoOfFunds").val();
            let ProjectTypeId = $("#ProjectTypes").val();

            let project = {
                "ProjectId": ProjectId,
                "ProjectActivity": ProjectActivity,
                "ProjectPurpose": ProjectPurpose,
                "Capital": Capital,
                "MonthlyInstallmentAmount": MonthlyInstallmentAmount,
                "NumberOfInstallments": NumberOfInstallments,
                "Date": Date,
                "WaiverPeriod": WaiverPeriod,
                "FirstInstallmentDueDate": FirstInstallmentDueDate,
                "FamilyId": FamilyId,
                "NumberOfFundsId": NumberOfFundsId,
                "ProjectTypeId": ProjectTypeId
            }
            projectItem.push(project);

            // Project assets
            // This represents the divs that are inside the main div #ProjectAssets, It divides its length on 4 because we would
            // have 4 controls inside each one of these divs: one label, one amount input, one qty input and one id hidden field
            const noOfloops = $("#ProjectAssets").children().children().length / 4;
            var selected = [];
            for(let i=0; i< noOfloops ; i++){

            let amount = $(`#txtAmount${i}`).val();
            let qty = $(`#txtQty${i}`).val();
            let id = $(`#hdnAssetId${i}`).val();
            let Items = {
                            "ProjectTypesAssetsId": id,
                            "Amount": amount,
                            "Quantity": qty
                        }
            selected.push(Items);
            }

            // Selection Reasons
            var selectedReasons = [];
            $('#ProjectSelectionReasons input:checked').each(function() {
                var reasonNo = $(this).attr('value');
                let selectedReasonsItems = {
                    "ProjectSelectionReasonsId": reasonNo
                }
                selectedReasons.push(selectedReasonsItems);
            });

            // Social Benefits
            var socialBenefits = [];
            $('#ProjectSocialBenefits input:checked').each(function() {
                var socialBenefitNo = $(this).attr('value');
                let socialBenefitItems = {
                    "ProjectSocialBenefitsId": socialBenefitNo
                }
                socialBenefits.push(socialBenefitItems);
            });

        $.ajax({
            // /Project/Edit
            url: "@Url.Action("Edit", "Project")",
            type: 'Post',
            data: {
                projectId: ProjectId,
                projectsAssets: selected, 
                projectsSelectionReasons: selectedReasons, 
                projectsSocialBenefits: socialBenefits, 
                projects: project
            },
            headers:
            {
                "XSRF-TOKEN": $('input[name="__RequestVerificationToken"]').val()
            },
            success: function (result) {
                window.location = result.redirectUrl
            },
            error: function (error) {
                console.log(error);
            }
        })
        };

            $(function ()
            {
                // Should already get the data on page load
                // /Project/GetProjectSelectionReasons
                $.post(`@Url.Action("GetProjectSelectionReasons", "Project")`, {ProjectId: $("#hdnProjectId").val()}, function (data) {
                    $.each(data, function (i, e) {
                        if(e.selected){
                            $("#ProjectSelectionReasons").append(`
                                <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="${e.value}" id="chk_${i}" checked>
                                  <label class="form-check-label" for="chk_${i}">
                                    ${e.text}
                                  </label>
                                </div>
                            `)
                        }
                        else{
                            $("#ProjectSelectionReasons").append(`
                                <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="${e.value}" id="chk_${i}">
                                  <label class="form-check-label" for="chk_${i}">
                                    ${e.text}
                                  </label>
                                </div>
                            `)
                        }
                    });
                });

                // Should already get the data on page load
                // /Project/GetProjectSocialBenefits
                $.post(`@Url.Action("GetProjectSocialBenefits", "Project")`, {ProjectId: $("#hdnProjectId").val()}, function (data) {
                    $.each(data, function (i, e) {
                        if(e.selected){
                            $("#ProjectSocialBenefits").append(`
                                <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="${e.value}" id="chk_${i}" checked>
                                  <label class="form-check-label" for="chk_${i}">
                                    ${e.text}
                                  </label>
                                </div>
                            `)
                        }
                        else{
                            $("#ProjectSocialBenefits").append(`
                                <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="${e.value}" id="chk_${i}">
                                  <label class="form-check-label" for="chk_${i}">
                                    ${e.text}
                                  </label>
                                </div>
                            `)
                        }
                    });
                });

                // /Project/GetProjectTypes
                $.post(`@Url.Action("GetProjectTypes", "Project")`, {ProjectId: $("#hdnProjectId").val()}, function (data) {
                    $.each(data, function (i, e) {
                        if(e.selected){
                            $("#ProjectTypes").append(`
                                <option value="${e.value}" selected>${e.text}</option>
                            `);
                            // /Project/GetProjectTypeAssetsForEdit
                            $.post('@Url.Action("GetProjectTypeAssetsForEdit", "Project")', {ProjectId: $("#hdnProjectId").val()} , function (data) {
                             $.each(data, function (i, e) {
                                    var parent = $(`<div class="form-group mb-3">`);
                                    var lblProjectAssetName = $(`<label class="form-label col-lg-4">${e.nameAr}</label>`);
                                    var txtAmount = $(`<input type="number" min="0" value="${e.amount}" class="form-control col-lg-4 mb-2" id="txtAmount${i}" placeholder="Enter Amount">`);
                                    var txtQuantity = $(`<input type="number" min="0" value="${e.quantity}" class="form-control col-lg-4 mb-4" id="txtQty${i}" placeholder="Enter Quantity">`);
                                    var hdnAssetId = $(`<input type="hidden" id="hdnAssetId${i}" value="${e.projectTypesAssetsId}">`);
                                    parent.append(lblProjectAssetName);
                                    parent.append(txtAmount);
                                    parent.append(txtQuantity);
                                    parent.append(hdnAssetId);
                                    $("#ProjectAssets").append(parent);
                                 });
                             });
                        }
                        else{
                            $("#ProjectTypes").append(`
                                <option value="${e.value}">${e.text}</option>
                            `)
                        }
                    });
                });

                // Should already get the data on page load
                // /Project/GetNumberOfFunds
                $.post(`@Url.Action("GetNumberOfFunds", "Project")`, {ProjectId: $("#hdnProjectId").val()}, function (data) {
                    $.each(data, function (i, e) {
                        if(e.selected){
                            $("#NoOfFunds").append(`
                                <option value="${e.value}" selected>${e.text}</option>
                            `)
                        }
                        else{
                            $("#NoOfFunds").append(`
                                <option value="${e.value}">${e.text}</option>
                            `)
                        };
                    });
                });

                // Should already get the data on page load
                $("select#ProjectTypes").change(function () {
                            var itemVal = $(this).val();
                            // /Project/GetProjectTypeAssets
                            $.post('@Url.Action("GetProjectTypeAssets", "Project")',{ProjectTypeId: itemVal} , function (data) {
                            $("#ProjectAssets").children().empty();
                             $.each(data, function (i, e) {
                                    var parent = $(`<div class="form-group mb-3">`);
                                    var lblProjectAssetName = $(`<label class="form-label col-lg-4">${e.nameAr}</label>`);
                                    var txtAmount = $(`<input type="number" min="0" class="form-control col-lg-4 mb-2" id="txtAmount${i}" placeholder="Enter Amount">`);
                                    var txtQuantity = $(`<input type="number" min="0" class="form-control col-lg-4 mb-4" id="txtQty${i}" placeholder="Enter Quantity">`);
                                    var hdnAssetId = $(`<input type="hidden" id="hdnAssetId${i}" value="${e.projectTypesAssetsId}">`);
                                    parent.append(lblProjectAssetName);
                                    parent.append(txtAmount);
                                    parent.append(txtQuantity);
                                    parent.append(hdnAssetId);
                                    $("#ProjectAssets").append(parent);
                                 });
                             });
                });


                // Should already get the data on page load
                // Autocomplete for getting the families
                $("#txtFamily").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '@Url.Action("AutoComplete", "FamilyMembers")',
                        data: { "prefix": request.term },
                        type: "POST",
                        success: function (data) {
                            response($.map(data, function (item) {
                                return item;
                            }))
                        },
                        error: function (response) {
                            alert(response.responseText);
                        },
                        failure: function (response) {
                            alert(response.responseText);
                        }
                    });
                },
                select: function (e, i) {
                    $("#hdnFamilyId").val(i.item.val);
                    // Get it's value: $("#hdnFamilyId").val();
                    //$("#SelectedFamilyId").text = $("#hdnFamilyId").val;
                },
                minLength: 1
            });

            $("#ProjectActivity").keypress(function(event){
            var arabicCharUnicodeRange = /[\u0600-\u06FF]/;
            var ew = event.which;
            if(ew == 32)
                return true;
            if(ew == 169)
                return true;

            var str = String.fromCharCode(ew);
            if (arabicCharUnicodeRange.test(str) )
            {
              return true;
            }
            return false;
            });

            // Just arabic letters
            $("#ProjectPurpose").keypress(function(event){
                var arabicCharUnicodeRange = /[\u0600-\u06FF]/;
                var ew = event.which;
                if(ew == 32)
                    return true;
                if(ew == 169)
                    return true;

                var str = String.fromCharCode(ew);
                if (arabicCharUnicodeRange.test(str) )
                {
                  return true;
                }
                return false;
            });

            // Just english or arabic letters without numbers
            $('#txtFamily').keydown(function (e) {
              if (e.shiftKey || e.ctrlKey || e.altKey) {
                  e.preventDefault();
              } else {
                  var key = e.keyCode;
                  if (!((key == 8) || (key == 32) || (key == 46) || (key >= 35 && key <= 40) || (key >= 65 && key <= 90))) {
                      e.preventDefault();
                  }
              }
            });

            });
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
