@model Etaa.Models.PaymentVoucher

@{
    ViewData["Title"] = "حذف مستند الدفع";
}

<h1>الحذف</h1>

<h3>هل تريد حذف مستند الدفع ؟</h3>
<div>
    <h4>مستند الدفع</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsApprovedByManagement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsApprovedByManagement)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsCanceled)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsCanceled)
        </dd>
        <dt class = "col-sm-2">
            المشروع
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Projects.NameAr)
        </dd>
        <dt class = "col-sm-2">
            القسط
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Installments.NameAr)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManagementUserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManagementUserId)
        </dd>*@
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Users)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Users.NameAr)
        </dd>*@
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PaymentVoucherId" />
        <input type="submit" value="الحذف" class="btn btn-danger" /> |
        <a asp-action="Index">العودة إلى القائمة الرئيسية</a>
    </form>
</div>

@section Scripts {
    @if (TempData["PaymentVoucher"] != null)
    {
        <script>
            $(function () {
                        swal({
                          title: "لم يتم الحذف !",
                          text: "لم يتم الحذف !",
                          icon: "error"
                        });
                    });
                </script>
    }

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
