@model Etaa.Models.PaymentVoucher

@{
    ViewData["Title"] = "تفاصيل مستند الدفع";
}

<h1>التفاصيل</h1>

<div>
    <h4>مستند الدفع</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2 mb-3">
            @Html.DisplayNameFor(model => model.PaymentDocumentPath)
        </dt>
        <dd class = "col-sm-9 mb-3">
            <a asp-action="Download" asp-route-PaymentVoucherId="@Model.PaymentVoucherId" class="btn btn-outline-primary">Download</a>
            @*@Html.DisplayFor(model => model.PaymentDocumentPath)*@
        </dd>
        <dt class = "col-sm-2 mb-3">
            @Html.DisplayNameFor(model => model.PaymentDate)
        </dt>
        <dd class = "col-sm-9 mb-3">
            @Html.DisplayFor(model => model.PaymentDate)
        </dd>
        <dt class = "col-sm-2 mb-3">
            @Html.DisplayNameFor(model => model.PaymentAmount)
        </dt>
        <dd class = "col-sm-9 mb-3">
            @Html.DisplayFor(model => model.PaymentAmount)
        </dd>
        <dt class = "col-sm-2 mb-3">
            @Html.DisplayNameFor(model => model.IsApprovedByManagement)
        </dt>
        <dd class = "col-sm-9 mb-3">
            @Html.DisplayFor(model => model.IsApprovedByManagement)
        </dd>
        <dt class = "col-sm-2 mb-3">
            @Html.DisplayNameFor(model => model.IsCanceled)
        </dt>
        <dd class = "col-sm-9 mb-3">
            @Html.DisplayFor(model => model.IsCanceled)
        </dd>
        <dt class = "col-sm-2 mb-3">
            المشروع
        </dt>
        <dd class = "col-sm-9 mb-3">
            @Html.DisplayFor(model => model.Projects.NameAr)
        </dd>
        <dt class = "col-sm-2 mb-3">
            القسط
        </dt>
        <dd class = "col-sm-9 mb-3">
            @Html.DisplayFor(model => model.Installments.NameAr)
        </dd>
        @*<dt class = "col-sm-2 mb-3">
            @Html.DisplayNameFor(model => model.ManagementUserId)
        </dt>
        <dd class = "col-sm-9 mb-3">
            @Html.DisplayFor(model => model.ManagementUserId)
        </dd>*@
        @*<dt class = "col-sm-2 mb-3">
            @Html.DisplayNameFor(model => model.Users)
        </dt>
        <dd class = "col-sm-9 mb-3">
            @Html.DisplayFor(model => model.Users.NameAr)
        </dd>*@
    </dl>
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model?.PaymentVoucherId">Edit</a> |*@
    <a asp-action="Index">العودة إلى القائمة الرئيسية</a>
</div>
