@model IEnumerable<Etaa.Models.PaymentVoucher>

@{
    ViewData["Title"] = "بيانات مستندات الدفع";
}

<h1><i class="fa-solid fa-receipt"></i> بيانات مستندات الدفع</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PaymentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentAmount)
            </th>
            <th>
                المشروع
            </th>
            <th>
                القسط
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Projects.NameAr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Installments.NameAr)
            </td>
            <td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PaymentVoucherId">التعديل</a> |
                <a asp-action="Details" asp-route-id="@item.PaymentVoucherId">التفاصيل</a> |
                <a asp-action="Delete" asp-route-id="@item.PaymentVoucherId">الحذف</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div class="text-dark" style="position: fixed; right: 30px; bottom: 70px;">
    <a asp-action="Create" class="btn btn-outline-primary"><i class="bi bi-plus-circle"></i> إضافة مستند دفع</a>
</div>

@section Scripts {
    @if (TempData["NoFinancialStatement"] != null)
    {
        <script>
            $(function () {
                        swal({
                          title: "لم يتم الحفظ !",
                          text: "الرجاء إنشاء إقرار مالي أولا !",
                          icon: "info"
                        });
                    });
                </script>
    }
    @if (TempData["InstallmentsNoGreaterThanProjectNumberOfInstallments"] != null)
    {
        <script>
            $(function () {
                        swal({
                          title: "لم يتم الحفظ !",
                          text: "رقم القسط أكبر من عدد أقساط المشروع !",
                          icon: "error"
                        });
                    });
                </script>
    }
    @if (TempData["PaymentVoucherError"] != null)
    {
        <script>
            $(function () {
                        swal({
                          title: "الرجاء التحقق من المدخلات!",
                          text: "الرجاء التحقق من المدخلات!",
                          icon: "error"
                        });
                    });
                </script>
    }
    @if (TempData["PaymentVoucher"] != null)
    {
        <script>
            $(function () {
                        swal({
                          title: "تمت العملية بنجاح !",
                          text: "تمت العملية بنجاح !",
                          icon: "success"
                        });
                    });
                </script>
    }
}

