@model Etaa.Models.FamilyMember

@{
    ViewData["Title"] = "حذف عضو الأسرة";
}

@*<h1>الحذف</h1>*@

<h3>هل تريد حذف عضو الأسرة ؟</h3>
<div class="row">
    @*<h4>عضو الأسرة</h4>*@
    <hr />
    <dl class="col-md-12">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameAr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameAr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameEn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameEn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Note)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Note)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsCanceled)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsCanceled)
        </dd>
        <dt class = "col-sm-2">
            صلة القرابة
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kinship.NameAr)
        </dd>
        <dt class = "col-sm-2">
            النوع
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender.NameAr)
        </dd>
        <dt class = "col-sm-2">
            الحالة التعليمية
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EducationalStatus.NameAr)
        </dd>
        <dt class = "col-sm-2">
            الوظيفة
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Job.NameAr)
        </dd>
        <dt class = "col-sm-2">
            العائلة
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Family.NameAr)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="FamilyMemberId" />
        <input type="submit" value="الحذف" class="btn btn-danger" /> |
        <a asp-action="Index">العودة إلى القائمة الرئيسية</a>
    </form>
</div>

@section Scripts {
    @if (TempData["FamilyMember"] != null)
    {
        <script>
            $(function () {
                        swal({
                          title: "لم يتم الحذف !",
                          text: "لم يتم الحذف !",
                          icon: "error"
                        });
                    });
                </script>
    }

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
