@model Etaa.Models.FamilyMember

@{
    ViewData["Title"] = "تفاصيل عضو الأسرة";
}

<h1>التفاصيل</h1>

<div>
    <h4>عضو الأسرة</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2 mb-3">
            @Html.DisplayNameFor(model => model.NameAr)
        </dt>
        <dd class = "col-sm-9 mb-3">
            @Html.DisplayFor(model => model.NameAr)
        </dd>
        <dt class = "col-sm-2 mb-3">
            @Html.DisplayNameFor(model => model.NameEn)
        </dt>
        <dd class = "col-sm-9 mb-3">
            @Html.DisplayFor(model => model.NameEn)
        </dd>
        <dt class = "col-sm-2 mb-3">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-9 mb-3">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class = "col-sm-2 mb-3">
            @Html.DisplayNameFor(model => model.Note)
        </dt>
        <dd class = "col-sm-9 mb-3">
            @Html.DisplayFor(model => model.Note)
        </dd>
        <dt class = "col-sm-2 mb-3">
            @Html.DisplayNameFor(model => model.IsCanceled)
        </dt>
        <dd class = "col-sm-9 mb-3">
            @Html.DisplayFor(model => model.IsCanceled)
        </dd>
        <dt class = "col-sm-2 mb-3">
            صلة القرابة
        </dt>
        <dd class = "col-sm-9 mb-3">
            @Html.DisplayFor(model => model.Kinship.NameAr)
        </dd>
        <dt class = "col-sm-2 mb-3">
            النوع
        </dt>
        <dd class = "col-sm-9 mb-3">
            @Html.DisplayFor(model => model.Gender.NameAr)
        </dd>
        <dt class = "col-sm-2 mb-3">
            الحالة التعليمية
        </dt>
        <dd class = "col-sm-9 mb-3">
            @Html.DisplayFor(model => model.EducationalStatus.NameAr)
        </dd>
        <dt class = "col-sm-2 mb-3">
            الوظيفة
        </dt>
        <dd class = "col-sm-9 mb-3">
            @Html.DisplayFor(model => model.Job.NameAr)
        </dd>
        <dt class = "col-sm-2 mb-3">
            العائلة
        </dt>
        <dd class = "col-sm-9 mb-3">
            @Html.DisplayFor(model => model.Family.NameAr)
        </dd>
    </dl>
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model?.FamilyMemberId">Edit</a> |*@
    <a asp-action="Index">العودة إلى القائمة الرئيسية</a>
</div>
