@model IEnumerable<Etaa.Models.FamilyMember>

@{
    ViewData["Title"] = "بيانات أعضاء الأسر";
}
<h1><i class="fa-solid fa-people-group"></i> بيانات أعضاء الأسر</h1>

<p>
    @*//AddOrEdit*@
    @*asp-action="AddOrEdit" *@
    @*<a asp-action="AddOrEdit">إضافة عضو أسرة</a>*@
    @*<a onclick="ShowPopup('@Url.Action("AddOrEdit","FamilyMembers",null,Context.Request.Scheme)', 'New Family Member')" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#form-modal">Create New</a>*@
</p>
<table class="table display table-striped" id="tblFamilyMember" style="width:100%">
    <thead>
        <tr>
            <th class="text-end">
                @Html.DisplayNameFor(model => model.NameAr)
            </th>
            <th class="text-end">
                @Html.DisplayNameFor(model => model.NameEn)
            </th>
            <th class="text-end">
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th class="text-end">
                صلة القرابة
            </th>
            <th class="text-end">
                الحالة التعليمية
            </th>
            <th class="text-end">
                الأسرة
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.IsCanceled)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameAr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameEn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kinship.NameAr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EducationalStatus.NameAr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Family.NameAr)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.IsCanceled)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FamilyMemberId" class="btn btn-outline-info btn-sm">التعديل</a> |
                <a asp-action="Details" asp-route-id="@item.FamilyMemberId" class="btn btn-outline-secondary btn-sm">التفاصيل</a> |
                <a asp-action="Delete" asp-route-id="@item.FamilyMemberId" class="btn btn-outline-danger btn-sm">الحذف</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div class="text-dark" style="position: fixed; right: 30px; bottom: 70px;">
    <a asp-action="AddOrEdit" class="btn btn-outline-primary"><i class="bi bi-plus-circle"></i> إضافة عضو أسرة</a>
</div>

@section Scripts{
    <script>
        $(document).ready( function () {
            $('#tblFamilyMember').DataTable({
                "language": {
                    processing: "جاري المعالجة ",
                    search: "البحث:  ",
                    lengthMenu:    "إظهار _MENU_ سجلات",
                    info:           "إظهار _START_ إلى _END_ من _TOTAL_ سجل",
                    infoEmpty:      "إظهار 0 إلى 0 من 0 سجلات",
                    loadingRecords: "جاري معالجة السجلات...",
                    zeroRecords:    "لا توجد سجلات !",
                    emptyTable:     "لا توجد بيانات !",
                    paginate: {
                        first:      "الأول",
                        previous:   "السابق",
                        next:       "التالي",
                        last:       "الأخير"
                    }
              }
            });
        });
    </script>

    @if (TempData["FamilyMemberError"] != null)
    {
    <script>
        $(function () {
                    swal({
                      title: "لم تتم العملية !",
                      text: "الرجاء التحقق من المدخلات !",
                      icon: "error"
                    });
                });
    </script>
    }
    @if (TempData["FamilyMember"] != null)
    {
    <script>
        $(function () {
                    swal({
                      title: "تمت العملية بنجاح !",
                      text: "تمت العملية بنجاح !",
                      icon: "success"
                    });
                });
    </script>
    }
}
