@model Etaa.Models.Family

@{
    ViewData["Title"] = "حذف أسرة";
}

@*<h1>حذف</h1>*@

<h3>هل تريد حذف هذه الأسرة ؟</h3>
<div class="row">
    @*<h4>أسرة</h4>*@
    <hr />
    <dl class="col-md-12">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameAr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameAr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameEn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameEn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alleyway)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alleyway)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DistrictName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DistrictName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HealthCondition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HealthCondition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResidentialSquare)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResidentialSquare)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstPhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstPhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecondPhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecondPhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfIndividuals)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfIndividuals)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MonthlyIncome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MonthlyIncome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
        <dt class = "col-sm-2">
            المحلية
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.District.NameAr)
        </dd>
        <dt class = "col-sm-2">
            النوع
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender.NameAr)
        </dd>
        <dt class = "col-sm-2">
            الديانة
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Religion.NameAr)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="FamilyId" />
        <input type="submit" value="حذف" class="btn btn-danger" /> |
        <a asp-action="Index">العودة إلى القائمة الرئيسية</a>
    </form>
</div>

@section Scripts {
    @if (TempData["Family"] != null)
    {
        <script>
            $(function () {
                        swal({
                          title: "لم يتم الحذف !",
                          text: "لم يتم الحذف !",
                          icon: "error"
                        });
                    });
                </script>
    }

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}