@model Etaa.Models.Family

@{
    ViewData["Title"] = "تفاصيل الأسرة";
}

<h1>تفاصيل</h1>

<div class="row">
    <h4>الأسرة</h4>
    <hr />
    <dl class="col-md-12">
        <dt class = "col-sm-2 mb-3">
            @Html.DisplayNameFor(model => model.NameAr)
        </dt>
        <dd class = "col-sm-10 mb-3">
            @Html.DisplayFor(model => model.NameAr)
        </dd>
        <dt class = "col-sm-2 mb-3">
            @Html.DisplayNameFor(model => model.NameEn)
        </dt>
        <dd class = "col-sm-9 mb-3">
            @Html.DisplayFor(model => model.NameEn)
        </dd>
        <dt class = "col-sm-2 mb-3">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-9 mb-3">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2 mb-3">
            @Html.DisplayNameFor(model => model.HouseNumber)
        </dt>
        <dd class = "col-sm-9 mb-3">
            @Html.DisplayFor(model => model.HouseNumber)
        </dd>
        <dt class = "col-sm-2 mb-3">
            @Html.DisplayNameFor(model => model.Alleyway)
        </dt>
        <dd class = "col-sm-9 mb-3">
            @Html.DisplayFor(model => model.Alleyway)
        </dd>
        <dt class = "col-sm-2 mb-3">
            @Html.DisplayNameFor(model => model.ResidentialSquare)
        </dt>
        <dd class = "col-sm-9 mb-3">
            @Html.DisplayFor(model => model.ResidentialSquare)
        </dd>
        <dt class = "col-sm-2 mb-3">
            @Html.DisplayNameFor(model => model.FirstPhoneNumber)
        </dt>
        <dd class = "col-sm-9 mb-3">
            @Html.DisplayFor(model => model.FirstPhoneNumber)
        </dd>
        <dt class = "col-sm-2 mb-3">
            @Html.DisplayNameFor(model => model.SecondPhoneNumber)
        </dt>
        <dd class = "col-sm-9 mb-3">
            @Html.DisplayFor(model => model.SecondPhoneNumber)
        </dd>
        <dt class = "col-sm-2 mb-3">
            @Html.DisplayNameFor(model => model.NationalNumber)
        </dt>
        <dd class = "col-sm-9 mb-3">
            @Html.DisplayFor(model => model.NationalNumber)
        </dd>
        <dt class = "col-sm-2 mb-3">
            @Html.DisplayNameFor(model => model.PassportNumber)
        </dt>
        <dd class = "col-sm-9 mb-3">
            @Html.DisplayFor(model => model.PassportNumber)
        </dd>
        <dt class = "col-sm-2 mb-3">
            @Html.DisplayNameFor(model => model.NumberOfIndividuals)
        </dt>
        <dd class = "col-sm-9 mb-3">
            @Html.DisplayFor(model => model.NumberOfIndividuals)
        </dd>
        <dt class = "col-sm-2 mb-3">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-9 mb-3">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class = "col-sm-2 mb-3">
            @Html.DisplayNameFor(model => model.MonthlyIncome)
        </dt>
        <dd class = "col-sm-9 mb-3">
            @Html.DisplayFor(model => model.MonthlyIncome)
        </dd>
        <dt class = "col-sm-2 mb-3">
            @Html.DisplayNameFor(model => model.IsCurrentInvestmentProject)
        </dt>
        <dd class = "col-sm-9 mb-3">
            @Html.DisplayFor(model => model.IsCurrentInvestmentProject)
        </dd>
        <dt class = "col-sm-2 mb-3">
            @Html.DisplayNameFor(model => model.IsApprovedByManagement)
        </dt>
        <dd class = "col-sm-9 mb-3">
            @Html.DisplayFor(model => model.IsApprovedByManagement)
        </dd>
        <dt class = "col-sm-2 mb-3">
            @Html.DisplayNameFor(model => model.IsCanceled)
        </dt>
        <dd class = "col-sm-9 mb-3">
            @Html.DisplayFor(model => model.IsCanceled)
        </dd>
        <dt class = "col-sm-2 mb-3">
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd class = "col-sm-9 mb-3">
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
        <dt class = "col-sm-2 mb-3">
            المحلية
        </dt>
        <dd class = "col-sm-9 mb-3">
            @Html.DisplayFor(model => model.District.NameAr)
        </dd>
        <dt class = "col-sm-2 mb-3">
            النوع
        </dt>
        <dd class = "col-sm-9 mb-3">
            @Html.DisplayFor(model => model.Gender.NameAr)
        </dd>
        <dt class = "col-sm-2 mb-3">
            الديانة
        </dt>
        <dd class = "col-sm-9 mb-3">
            @Html.DisplayFor(model => model.Religion.NameAr)
        </dd>
        <dt class = "col-sm-2 mb-3">
            الحالة الإجتماعية
        </dt>
        <dd class = "col-sm-9 mb-3">
            @Html.DisplayFor(model => model.MartialStatus.NameAr)
        </dd>
        <dt class = "col-sm-2 mb-3">
            الوظيفة
        </dt>
        <dd class = "col-sm-9 mb-3">
            @Html.DisplayFor(model => model.Job.NameAr)
        </dd>
        <dt class = "col-sm-2 mb-3">
            الحالة الصحية
        </dt>
        <dd class = "col-sm-9 mb-3">
            @Html.DisplayFor(model => model.HealthStatus.NameAr)
        </dd>
        <dt class = "col-sm-2 mb-3">
            الحالة التعليمية
        </dt>
        <dd class = "col-sm-9 mb-3">
            @Html.DisplayFor(model => model.EducationalStatus.NameAr)
        </dd>
        <dt class = "col-sm-2 mb-3">
            نوع الإقامة
        </dt>
        <dd class = "col-sm-9 mb-3">
            @Html.DisplayFor(model => model.AccommodationType.NameAr)
        </dd>
        <dt class = "col-sm-2 mb-3">
            نوع الإستثمار
        </dt>
        <dd class = "col-sm-9 mb-3">
            @Html.DisplayFor(model => model.InvestmentType.NameAr)
        </dd>
        @*<dt class = "col-sm-2 mb-3">
            @Html.DisplayNameFor(model => model.ManagementUserId)
        </dt>
        <dd class = "col-sm-9 mb-3">
            @Html.DisplayFor(model => model.ManagementUserId)
        </dd>*@
        @*<dt class = "col-sm-2 mb-3">
            @Html.DisplayNameFor(model => model.IdentityUser)
        </dt>
        <dd class = "col-sm-9 mb-3">
            @Html.DisplayFor(model => model.IdentityUser.NameAr)
        </dd>*@
    </dl>
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model?.FamilyId">Edit</a> |*@
    <a asp-action="Index">العودة إلى القائمة الرئيسية</a>
</div>
