@model Etaa.Models.FinancialStatement

@{
    ViewData["Title"] = "حذف الإقرار المالي";
}

<h1>الحذف</h1>

<h3>هل تريد حذف الإقرار المالي ؟</h3>
<div>
    <h4>الإقرار المالي</h4>
    <hr />
    <dl class="row">
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DocumentPath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocumentPath)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsApprovedByManagement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsApprovedByManagement)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsCanceled)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsCanceled)
        </dd>
        <dt class = "col-sm-2">
            المشروع
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Projects.NameAr)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManagementUserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManagementUserId)
        </dd>*@
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdentityUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdentityUser.NameAr)
        </dd>*@
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="FinancialStatementId" />
        <input type="submit" value="الحذف" class="btn btn-danger" /> |
        <a asp-action="Index">العودة إلى القائمة الرئيسية</a>
    </form>
</div>

@section Scripts {
    @if (TempData["FinancialStatement"] != null)
    {
        <script>
            $(function () {
                        swal({
                          title: "لم يتم الحذف !",
                          text: "لم يتم الحذف !",
                          icon: "error"
                        });
                    });
                </script>
    }
    @if (TempData["CantDeleteTheresAProjectAttachedWitIt"] != null)
    {
        <script>
            $(function () {
                        swal({
                          title: "لا يمكن الحذف !",
                          text: "هذا الإقرار المالي تابع لمشروع قائم !",
                          icon: "info"
                        });
                    });
                </script>
    }

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
