@model Etaa.Models.FinancialStatement

@{
    ViewData["Title"] = "تفاصيل الإقرار المالي";
}

<h1>التفاصيل</h1>

<div>
    <h4>الإقرار المالي</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2 mb-3">
            @Html.DisplayNameFor(model => model.DocumentPath)
        </dt>
        <dd class = "col-sm-9 mb-3">
            <a asp-action="Download" asp-route-FinancialStatementId="@Model.FinancialStatementId" class="btn btn-outline-primary">Download</a>
            @*@Html.DisplayFor(model => model.DocumentPath)*@
        </dd>
        <dt class = "col-sm-2 mb-3">
            @Html.DisplayNameFor(model => model.IsApprovedByManagement)
        </dt>
        <dd class = "col-sm-9 mb-3">
            @Html.DisplayFor(model => model.IsApprovedByManagement)
        </dd>
        <dt class = "col-sm-2 mb-3">
            @Html.DisplayNameFor(model => model.IsCanceled)
        </dt>
        <dd class = "col-sm-9 mb-3">
            @Html.DisplayFor(model => model.IsCanceled)
        </dd>
        <dt class = "col-sm-2 mb-3">
            المشروع
        </dt>
        <dd class = "col-sm-9 mb-3">
            @Html.DisplayFor(model => model.Projects.NameAr)
        </dd>
        @*<dt class = "col-sm-2 mb-3">
            @Html.DisplayNameFor(model => model.ManagementUserId)
        </dt>
        <dd class = "col-sm-9 mb-3">
            @Html.DisplayFor(model => model.ManagementUserId)
        </dd>*@
        @*<dt class = "col-sm-2 mb-3">
            @Html.DisplayNameFor(model => model.IdentityUser)
        </dt>
        <dd class = "col-sm-9 mb-3">
            @Html.DisplayFor(model => model.IdentityUser.NameAr)
        </dd>*@
    </dl>
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model?.FinancialStatementId">Edit</a> |*@
    <a asp-action="Index">العودة إلى القائمة الرئيسية</a>
</div>
