@model IEnumerable<Etaa.Models.FinancialStatement>

@{
    ViewData["Title"] = "بيانات الإقرار المالي";
}

<h1><i class="fa-solid fa-file-circle-check"></i> بيانات الإقرار المالي</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table display table-striped" id="tblFinancialStatement" style="width:100%">
    <thead>
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.DocumentPath)
            </th>*@
            <th>
                المشروع
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsCanceled)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.DocumentPath)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Projects.NameAr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsCanceled)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FinancialStatementId" class="btn btn-outline-info btn-sm">التعديل</a> |
                <a asp-action="Details" asp-route-id="@item.FinancialStatementId" class="btn btn-outline-secondary btn-sm">التفاصيل</a> |
                <a asp-action="Delete" asp-route-id="@item.FinancialStatementId" class="btn btn-outline-danger btn-sm">الحذف</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div class="text-dark" style="position: fixed; right: 30px; bottom: 70px;">
    <a asp-action="Create" class="btn btn-outline-primary"><i class="bi bi-plus-circle"></i> إضافة الإقرار المالي</a>
</div>

@section Scripts{
    <script>
        $(document).ready( function () {
            $('#tblFinancialStatement').DataTable();
        });
    </script>

    @if (TempData["CantDeleteTheresAProjectAttachedWitIt"] != null)
    {
        <script>
            $(function () {
                        swal({
                          title: "لا يمكن الحذف !",
                          text: "هذا الإقرار المالي تابع لمشروع قائم !",
                          icon: "info"
                        });
                    });
                </script>
    }
    @if (TempData["ProjectAlreadyHasAFinancialStatement"] != null)
    {
        <script>
            $(function () {
                        swal({
                          title: "هذا المشروع لديه إقرار مالي مسبقا !",
                          text: "هذا المشروع لديه إقرار مالي مسبقا !",
                          icon: "info"
                        });
                    });
                </script>
    }
    @if (TempData["FinancialStatementError"] != null)
    {
        <script>
            $(function () {
                        swal({
                          title: "لم تتم العملية !",
                          text: "الرجاء التحقق من المدخلات !",
                          icon: "error"
                        });
                    });
        </script>
    }
    @if (TempData["FinancialStatement"] != null)
    {
        <script>
            $(function () {
                        swal({
                          title: "تمت العملية بنجاح !",
                          text: "تمت العملية بنجاح !",
                          icon: "success"
                        });
                    });
        </script>
    }
}
