@model Etaa.Models.ProjectTypes

@{
    ViewData["Title"] = "حذف نوع المشروع";
}

<h1>هل تريد حذف نوع المشروع ؟</h1>

<h3>@*هل تريد حذف نوع المشروع ؟*@</h3>
<div class="row">
    @*<h4>نوع المشروع</h4>*@
    <hr />
    <dl class="col-md-12">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameAr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameAr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameEn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameEn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsCanceled)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsCanceled)
        </dd>
        <dt class = "col-sm-2">
            مجال المشروع
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectDomainTypes.NameAr)
        </dd>
        <dt class = "col-sm-2">
            مجموعة المشروع
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectGroup.NameAr)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ProjectTypeId" />
        <input type="submit" value="الحذف" class="btn btn-danger" /> |
        <a asp-action="Index">العودة إلى القائمة الرئيسية</a>
    </form>
</div>

@section Scripts {
    @if (TempData["ProjectType"] != null)
    {
        <script>
            $(function () {
                        swal({
                          title: "لم يتم الحذف !",
                          text: "لم يتم الحذف !",
                          icon: "error"
                        });
                    });
                </script>
    }

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
