@model Etaa.Models.ProjectTypes

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ProjectTypes</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameAr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameAr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameEn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameEn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsCanceled)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsCanceled)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectDomainTypes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectDomainTypes.NameAr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectGroup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectGroup.NameAr)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ProjectTypeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
