@model Etaa.Models.ProjectTypes

@{
    ViewData["Title"] = "تفاصيل نوع المشروع";
}

<h1>التفاصيل</h1>

<div>
    <h4>نوع المشروع</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2 mb-3">
            @Html.DisplayNameFor(model => model.NameAr)
        </dt>
        <dd class = "col-sm-9 mb-3">
            @Html.DisplayFor(model => model.NameAr)
        </dd>
        <dt class = "col-sm-2 mb-3">
            @Html.DisplayNameFor(model => model.NameEn)
        </dt>
        <dd class = "col-sm-9 mb-3">
            @Html.DisplayFor(model => model.NameEn)
        </dd>
        <dt class = "col-sm-2 mb-3">
            @Html.DisplayNameFor(model => model.IsCanceled)
        </dt>
        <dd class = "col-sm-9 mb-3">
            @Html.DisplayFor(model => model.IsCanceled)
        </dd>
        <dt class = "col-sm-2 mb-3">
            مجال المشروع
        </dt>
        <dd class = "col-sm-9 mb-3">
            @Html.DisplayFor(model => model.ProjectDomainTypes.NameAr)
        </dd>
        <dt class = "col-sm-2 mb-3">
            مجموعة المشروع
        </dt>
        <dd class = "col-sm-9 mb-3">
            @Html.DisplayFor(model => model.ProjectGroup.NameAr)
        </dd>
    </dl>
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model?.ProjectTypeId">Edit</a> |*@
    <a asp-action="Index">العودة إلى القائمة الرئيسية</a>
</div>
