@model IEnumerable<Etaa.Models.ProjectTypes>

@{
    ViewData["Title"] = "بيانات أنواع المشاريع";
}

<h1><i class="fa-solid fa-chart-bar"></i> بيانات أنواع المشاريع</h1>
@*
<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NameAr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameEn)
            </th>
            <th>
                مجال المشروع
            </th>
            <th>
                مجموعة المشروع
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameAr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameEn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectDomainTypes.NameAr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectGroup.NameAr)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProjectTypeId">التعديل</a> |
                <a asp-action="Details" asp-route-id="@item.ProjectTypeId">التفاصيل</a> |
                <a asp-action="Delete" asp-route-id="@item.ProjectTypeId">الحذف</a>   |
                <a asp-controller="ProjectTypesAsset" asp-action="Index" asp-route-ProjectTypeId="@item.ProjectTypeId">إضافة أصول نوع المشروع</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div class="text-dark" style="position: fixed; right: 30px; bottom: 70px;">
    <a asp-action="Create" class="btn btn-outline-primary"><i class="bi bi-plus-circle"></i> إضافة نوع مشروع</a>
</div>

@section Scripts{
    @if (TempData["ProjectTypeError"] != null)
    {
        <script>
            $(function () {
                        swal({
                          title: "الرجاء التحقق من المدخلات!",
                          text: "الرجاء التحقق من المدخلات!",
                          icon: "error"
                        });
                    });
                </script>
    }
    @if (TempData["ProjectType"] != null)
{
    <script>
        $(function () {
                    swal({
                      title: "تمت العملية بنجاح !",
                      text: "تمت العملية بنجاح !",
                      icon: "success"
                    });
                });
            </script>
}
}
