@model Etaa.Models.ProjectTypesAssets

@{
    ViewData["Title"] = "حذف أصول نوع المشروع";
}

<h1>الحذف</h1>

<h3>هل تريد حذف أصول نوع المشروع ؟</h3>
<div>
    <h4>أصول نوع المشروع</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameAr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameAr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameEn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameEn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsCanceled)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsCanceled)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ProjectTypesAssetsId" />
        <input type="submit" value="الحذف" class="btn btn-danger" /> |
        <a asp-action="Index">العودة إلى القائمة الرئيسية</a>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
