@model Etaa.Models.ProjectTypesAssets

@{
    ViewData["Title"] = "تفاصيل أصول نوع المشروع";
}

<h1>تفاصيل أصول نوع المشروع</h1>

<div class="row">
    @*<h4>أصول نوع المشروع</h4>*@
    <hr />
    <dl class="col-md-12">
        <dt class = "col-sm-2 mb-3">
            @Html.DisplayNameFor(model => model.NameAr)
        </dt>
        <dd class = "col-sm-9 mb-3">
            @Html.DisplayFor(model => model.NameAr)
        </dd>
        <dt class = "col-sm-2 mb-3">
            @Html.DisplayNameFor(model => model.NameEn)
        </dt>
        <dd class = "col-sm-9 mb-3">
            @Html.DisplayFor(model => model.NameEn)
        </dd>
        <dt class = "col-sm-2 mb-3">
            @Html.DisplayNameFor(model => model.IsCanceled)
        </dt>
        <dd class = "col-sm-9 mb-3">
            @Html.DisplayFor(model => model.IsCanceled)
        </dd>
    </dl>
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model?.ProjectTypesAssetsId">Edit</a> |*@
    <a asp-action="Index">العودة إلى القائمة الرئيسية</a>
</div>
