@model IEnumerable<Etaa.Models.ProjectTypesAssets>

@{
    ViewData["Title"] = "بيانات أصول أنواع المشاريع";
}

<h1><i class="fa-solid fa-boxes-stacked"></i> بيانات أصول أنواع المشاريع</h1>

@*<p>
    <a asp-action="Create" asp-route-ProjectTypeId="@ViewBag.ProjectTypeId">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NameAr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameEn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameAr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameEn)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProjectTypesAssetsId">التعديل</a> |
                <a asp-action="Details" asp-route-id="@item.ProjectTypesAssetsId">التفاصيل</a> |
                <a asp-action="Delete" asp-route-id="@item.ProjectTypesAssetsId">الحذف</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div class="text-dark" style="position: fixed; right: 30px; bottom: 70px;">
    <a asp-action="Create" class="btn btn-outline-primary" asp-route-ProjectTypeId="@ViewBag.ProjectTypeId"><i class="bi bi-plus-circle"></i> إضافة أصول نوع المشروع</a>
</div>

@if (TempData["ProjectTypesAssets"] != null)
{
    <script>
        $(function () {
                    swal({
                      title: "تمت العملية بنجاح !",
                      text: "تمت العملية بنجاح !",
                      icon: "success"
                    });
                });
            </script>
}
