@model IEnumerable<Etaa.Models.ProjectTypesAssets>

@{
    ViewData["Title"] = "بيانات أصول أنواع المشاريع";
}

<h1><i class="fa-solid fa-boxes-stacked"></i> بيانات أصول أنواع المشاريع</h1>

@*<p>
    <a asp-action="Create" asp-route-ProjectTypeId="@ViewBag.ProjectTypeId">Create New</a>
</p>*@
<table class="table display table-striped" id="tblProjectTypesAssets" style="width:100%">
    <thead>
        <tr>
            <th class="text-end">
                @Html.DisplayNameFor(model => model.NameAr)
            </th>
            <th class="text-end">
                @Html.DisplayNameFor(model => model.NameEn)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.IsCanceled)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameAr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameEn)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.IsCanceled)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProjectTypesAssetsId" class="btn btn-outline-info btn-sm">التعديل</a> |
                <a asp-action="Details" asp-route-id="@item.ProjectTypesAssetsId" class="btn btn-outline-secondary btn-sm">التفاصيل</a> |
                <a asp-action="Delete" asp-route-id="@item.ProjectTypesAssetsId" class="btn btn-outline-danger btn-sm">الحذف</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div class="text-dark" style="position: fixed; right: 30px; bottom: 70px;">
    <a asp-action="Create" class="btn btn-outline-primary" asp-route-ProjectTypeId="@ViewBag.ProjectTypeId"><i class="bi bi-plus-circle"></i> إضافة أصول نوع المشروع</a>
</div>

@section Scripts{
    <script>
        $(document).ready( function () {
            $('#tblProjectTypesAssets').DataTable({
                "language": {
                    processing: "جاري المعالجة ",
                    search: "البحث:  ",
                    lengthMenu:    "إظهار _MENU_ سجلات",
                    info:           "إظهار _START_ إلى _END_ من _TOTAL_ سجل",
                    infoEmpty:      "إظهار 0 إلى 0 من 0 سجلات",
                    loadingRecords: "جاري معالجة السجلات...",
                    zeroRecords:    "لا توجد سجلات !",
                    emptyTable:     "لا توجد بيانات !",
                    paginate: {
                        first:      "الأول",
                        previous:   "السابق",
                        next:       "التالي",
                        last:       "الأخير"
                    }
              }
            });
        });
    </script>

    @if (TempData["ProjectTypesAssetsError"] != null)
    {
        <script>
            $(function () {
                        swal({
                          title: "الرجاء التحقق من المدخلات!",
                          text: "الرجاء التحقق من المدخلات!",
                          icon: "error"
                        });
                    });
                </script>
    }
    @if (TempData["ProjectTypesAssets"] != null)
    {
        <script>
            $(function () {
                        swal({
                          title: "تمت العملية بنجاح !",
                          text: "تمت العملية بنجاح !",
                          icon: "success"
                        });
                    });
                </script>
    }
}
