@model Etaa.Models.Clearance
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@Html.AntiForgeryToken()

@{
    ViewData["Title"] = "إضافة خلو الطرف";
}

<script>
    $(function () {
        // Just english or arabic letters without numbers
        $('#txtProject').keydown(function (e) {
          if (e.shiftKey || e.ctrlKey || e.altKey) {
              e.preventDefault();
          } else {
              var key = e.keyCode;
              if (!((key == 8) || (key == 32) || (key == 46) || (key >= 35 && key <= 40) || (key >= 65 && key <= 90))) {
                  e.preventDefault();
              }
          }
        });

        // Just arabic letters
        $("#Comments").keypress(function(event){
            var arabicCharUnicodeRange = /[\u0600-\u06FF]/;
            var ew = event.which;
            if(ew == 32)
                return true;
            if(ew == 169)
                return true;

            var str = String.fromCharCode(ew);
            if (arabicCharUnicodeRange.test(str) )
            {
              return true;
            }
            return false;
        });
    });
</script>

<h1>الإضافة</h1>

<h4>خلو الطرف</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label class="control-label">إختيار المشروع</label>
                <input id="txtProject" class="form-control" autofocus />
                <input id="hdnProjectId" type="hidden" name="ProjectId" />
                @*<label asp-for="ProjectId" class="control-label"></label>
                <select asp-for="ProjectId" class ="form-control" asp-items="ViewBag.ProjectId"></select>*@
            </div>
            <div class="form-group mb-3">
               <label class="control-label">المبلغ المتبقي:</label>
               @*text-info*@
               <label id="RemainAmount" class="control-label">--المبلغ المتبقي--</label>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Comments" class="control-label"></label>
                <input asp-for="Comments" class="form-control" />
                <span asp-validation-for="Comments" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="ClearanceDate" class="control-label"></label>
                <input asp-for="ClearanceDate" class="form-control" />
                <span asp-validation-for="ClearanceDate" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label>المرفقات:</label>
                <form id="form2" method="post" enctype="multipart/form-data" data-parsley-validate class="form-horizontal form-label-left">
                    <div class="form-group">
                        <div class="col-md-12 border border-info" id="dropzone">
                            <div class="dropzone" style="border:none" action="@Url.Action("Upload", "Clearance")" id="uploader">
                                <div class="dz-message needsclick">
                                    <i class="bi bi-file-earmark-arrow-up text-primary fs-3x"></i>
                                    <div class="ms-4">
                                        <h3 class="fs-5 fw-bolder text-gray-900 mb-1">Drop files here or click to upload</h3>
                                        <span class="fs-7 fw-bold text-gray-400">Upload up to 10 files</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                @*<label asp-for="ClearanceDocumentPath" class="control-label"></label>
                <input asp-for="ClearanceDocumentPath" class="form-control" />
                <span asp-validation-for="ClearanceDocumentPath" class="text-danger"></span>*@
            </div>
            <div class="form-group mb-3">
                @*<input type="submit" value="Create" class="btn btn-primary" />*@
                <a id="btnSave" class="btn btn-primary" onclick="saveData()">الحفظ</a>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">العودة إلى القائمة الرئيسية</a>
</div>

@section Scripts {
    <script>
        function saveData(){
            let projectId = $("#hdnProjectId").val();
            let comments = $("#Comments").val();
            let clearanceDate = $("#ClearanceDate").val();

            let clearance = {
                "ProjectId": projectId,
                "Comments": comments,
                "ClearanceDate": clearanceDate
            }

            $.ajax({
                // /Clearance/Create
                url: "@Url.Action("Create", "Clearance")",
                type: 'Post',
                data: {
                   clearance : clearance
                },
                headers:
                {
                    "XSRF-TOKEN": $('input[name="__RequestVerificationToken"]').val()
                },
                success: function (result) {
                    window.location = result.redirectUrl
                },
                error: function (error) {
                    console.log(error);
                }
            });
        };

        $(function ()
        {
                // Autocomplete for getting the Project
                $("#txtProject").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '@Url.Action("AutoComplete", "Clearance")',
                        data: { "prefix": request.term },
                        type: "POST",
                        success: function (data) {
                            response($.map(data, function (item) {
                                return item;
                            }))
                        },
                        error: function (response) {
                            alert(response.responseText);
                        },
                        failure: function (response) {
                            alert(response.responseText);
                        }
                    });
                },
                select: function (e, i) {
                    $("#hdnProjectId").val(i.item.val);
                    $.ajax({
                        url: '@Url.Action("GetRemainAmount", "Clearance")',
                        data: { "projectId": $("#hdnProjectId").val() },
                        type: "POST",
                        success: function (data) {
                            //console.log(data);
                            if(data != null){
                                //console.log(data); 
                                $("#RemainAmount").text(data);
                                if(data > 0){
                                    $("#RemainAmount").addClass("text-warning");
                                }
                                else{
                                    $("#RemainAmount").addClass("text-success");
                                }
                            }
                        },
                        error: function (response) {
                            alert(response.responseText);
                        },
                        failure: function (response) {
                            alert(response.responseText);
                        }
                });
                },
                minLength: 1
            });

        });
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
