@model Etaa.Models.Clearance

@{
    ViewData["Title"] = "حذف خلو الطرف";
}

<h1>الحذف</h1>

<h3>هل تريد حذف خلو الطرف ؟</h3>
<div>
    <h4>خلو الطرف</h4>
    <hr />
    <dl class="row">
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClearanceDocumentPath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClearanceDocumentPath)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comments)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClearanceDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClearanceDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsApprovedByManagement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsApprovedByManagement)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsCanceled)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsCanceled)
        </dd>
        <dt class = "col-sm-2">
            المشروع
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Projects.NameAr)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManagementUserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManagementUserId)
        </dd>*@
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Users)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Users.NameAr)
        </dd>*@
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ClearanceId" />
        <input type="submit" value="الحذف" class="btn btn-danger" /> |
        <a asp-action="Index">العودة إلى القائمة الرئيسية</a>
    </form>
</div>
