@model Etaa.Models.Clearance

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Clearance</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.ClearanceDocumentPath)
        </dt>
        <dd class = "col-sm-9">
            <a asp-action="Download" asp-route-ClearanceId="@Model.ClearanceId" class="btn btn-outline-primary">Download</a>
            @*@Html.DisplayFor(model => model.ClearanceDocumentPath)*@
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comments)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClearanceDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClearanceDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsApprovedByManagement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsApprovedByManagement)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsCanceled)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsCanceled)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Projects)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Projects.ProjectId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManagementUserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManagementUserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Users)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Users.NameAr)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ClearanceId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
