@model IEnumerable<Etaa.Models.Clearance>

@{
    ViewData["Title"] = "بيانات خلو الطرف";
}

<h1><i class="fa-solid fa-circle-check"></i> بيانات خلو الطرف</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                المشروع
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClearanceDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsCanceled)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Projects.NameAr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClearanceDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsCanceled)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ClearanceId">التعديل</a> |
                <a asp-action="Details" asp-route-id="@item.ClearanceId">التفاصيل</a> |
                <a asp-action="Delete" asp-route-id="@item.ClearanceId">الحذف</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div class="text-dark" style="position: fixed; right: 30px; bottom: 70px;">
    <a asp-action="Create" class="btn btn-outline-primary"><i class="bi bi-plus-circle"></i> إضافة خلو الطرف</a>
</div>

@section Scripts{
    @if(TempData["PaidAmount"] != null)
    {
        <script>
            $(function () {
                        swal({
                          title: "لم يتم دفع كل أقساط المشروع !",
                          text: "لم يتم دفع كل أقساط المشروع !",
                          icon: "warning"
                        });
                    });
                </script>
    }
    @if(TempData["ProjectAlreadyHasAClearance"] != null)
    {
        <script>
            $(function () {
                        swal({
                          title: "هذا المشروع لديه خلو طرف مسبقا !",
                          text: "هذا المشروع لديه خلو طرف مسبقا !",
                          icon: "info"
                        });
                    });
                </script>
    }
    @if (TempData["ClearanceError"] != null)
    {
        <script>
            $(function () {
                        swal({
                          title: "لم تتم العملية !",
                          text: "الرجاء التحقق من المدخلات !",
                          icon: "error"
                        });
                    });
        </script>
    }
    @if (TempData["Clearance"] != null)
    {
        <script>
            $(function () {
                        swal({
                          title: "تمت العملية بنجاح !",
                          text: "تمت العملية بنجاح !",
                          icon: "success"
                        });
                    });
        </script>
    }
}