@model IEnumerable<Etaa.Models.Contributor>

@{
    ViewData["Title"] = "بيانات المساهمين";
}

<h1><i class="fa-solid fa-person-circle-plus"></i> بيانات المساهمين</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@

<table class="table display table-striped" id="tblContributor" style="width:100%">
    <thead>
        <tr>
            <th class="text-end">
                @Html.DisplayNameFor(model => model.NameAr)
            </th>
            <th class="text-end">
                @Html.DisplayNameFor(model => model.NameEn)
            </th>
            <th class="text-end">
                @Html.DisplayNameFor(model => model.Mobile)
            </th>
            <th class="text-end">
                @Html.DisplayNameFor(model => model.WhatsappMobile)
            </th>
            <th class="text-end">
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th class="text-end">
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.IsCanceled)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameAr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameEn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mobile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WhatsappMobile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.IsCanceled)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ContributorId" class="btn btn-outline-info btn-sm">التعديل</a> |
                <a asp-action="Details" asp-route-id="@item.ContributorId" class="btn btn-outline-secondary btn-sm">التفاصيل</a> |
                <a asp-action="Delete" asp-route-id="@item.ContributorId" class="btn btn-outline-danger btn-sm">الحذف</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div class="text-dark" style="position: fixed; right: 30px; bottom: 70px;">
    <a asp-action="Create" class="btn btn-outline-primary"><i class="bi bi-plus-circle"></i> إضافة مساهم</a>
</div>

@section Scripts{
    <script>
        $(document).ready( function () {
            $('#tblContributor').DataTable({
                "language": {
                    processing: "جاري المعالجة ",
                    search: "البحث:  ",
                    lengthMenu:    "إظهار _MENU_ سجلات",
                    info:           "إظهار _START_ إلى _END_ من _TOTAL_ سجل",
                    infoEmpty:      "إظهار 0 إلى 0 من 0 سجلات",
                    loadingRecords: "جاري معالجة السجلات...",
                    zeroRecords:    "لا توجد سجلات !",
                    emptyTable:     "لا توجد بيانات !",
                    paginate: {
                        first:      "الأول",
                        previous:   "السابق",
                        next:       "التالي",
                        last:       "الأخير"
                    }
              }
            });
        });
    </script>

    @if (TempData["ContributorError"] != null)
    {
        <script>
            $(function () {
                        swal({
                          title: "الرجاء التحقق من المدخلات!",
                          text: "الرجاء التحقق من المدخلات!",
                          icon: "error"
                        });
                    });
                </script>
    }
    @if (TempData["Contributor"] != null)
    {
        <script>
            $(function () {
                        swal({
                          title: "تمت العملية بنجاح !",
                          text: "تمت العملية بنجاح !",
                          icon: "success"
                        });
                    });
        </script>
    }
}
